{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center vh-100 white-text">
  <div class="col-lg-6 col-md-8 col-sm-10 background-custom-red">
    <h1 class="text-center mb-4">{% trans "Sign Up" %}</h1>

    <p class="text-center">{% blocktrans %}Already have an account? Then please <a
        class="btn btn-primary btn-redirect-signup-signin" href=" {{ login_url }}">sign
        in</a>.{% endblocktrans %}
    </p>

    <form class="signup text-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-primary d-block mx-auto btn-login" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>

{% endblock %}