/* Base.html */

/* Navbar */

nav {
    background-color: #fafafa;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-brand {
    color: black;
    padding: 8px 15px;
}

.navbar-brand:hover {
    background-color: #A7B3D9;
    border-radius: 10px;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
    background-color: #A7B3D9;
    border-radius: 10px;
}

/* Body */

body {
    font-family: 'Lisu Bosa', sans-serif;
}

body.custom-background-base {
    position: relative;
    min-height: 100vh;
    margin: 0;
    background-image: url(https://res.cloudinary.com/dgeozss3n/image/upload/v1690792525/pexels-anamul-rezwan-1216589_noju7u.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body.custom-background-base::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* Alert Messages */

.custom-alert {
    display: flex;
    min-width: fit-content;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    margin-top: 15px;
    background-color: lightgreen;
    white-space: nowrap;
    font-weight: bold;
}

/* Footer */

footer {
    background-color: black;
    z-index: 1;
}

.social-media {
    color: #fafafa;
    font-size: x-large;
}

.social-media:hover,
.social-media:active {
    color: #BF0449;
}

/* Index.html */

.white-text {
    color: #fafafa;
}

.btn-book-session {
    background-color: #BF0449;
    border-color: #BF0449;
}

.btn-book-session:hover {
    background-color: #5e7ebf;
}

/* login, signup, logout, booking_form, my_bookings, view_booking*/

.background-custom-red {
    background-color: #BF0449;
    border-radius: 15px;
    padding: 10px;
}

.my-booking-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-margin {
    margin: 10px;
}

.card.container {
    width: 95%;
    max-width: 25rem;
}

.card-custom-size {
    width: 100%;
}

.view-booking-custom-p {
    max-width: 50rem;
}

.btn-redirect-signup-signin {
    padding: 2px;
    background-color: #a7b3d9;
    border-color: #A7B3D9;
    color: black;
}

.btn-custom-delete {
    background-color: black;
    border-color: black;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    margin-right: 5%;
}

.btn-custom-view {
    background-color: #a7b3d9;
    border-color: #A7B3D9;
    color: black;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 5%;
}

.btn-custom-back {
    background-color: #BF0449;
    border-color: #BF0449;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    width: 95%;
    max-width: 25rem;
    margin-top: 10px;
}

.btn-login-signup-logout {
    background-color: #a7b3d9;
    border-color: #A7B3D9;
    color: black;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

.btn-make-booking {
    padding: 2px;
    background-color: #a7b3d9;
    border-color: #A7B3D9;
    color: black;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-login-signup-logout:hover,
.btn-redirect-signup-signin:hover,
.btn-make-booking:hover,
.btn-custom-view:hover,
.btn-custom-delete:hover,
.btn-custom-back:hover {
    background-color: #d94f30;
    border-color: #d94f30;
    color: black;
}

/* Help_text and invalid feedback */
.form-text.text-muted {
    color: #fafafa !important;
}

.invalid-feedback {
    background-color: #A7B3D9;
    padding-left: 5px;
    color: black;
    border-radius: 5px;
}

/* Media queries */
@media (max-width: 400px) {
    .custom-alert {
        white-space: normal;
    }

    .btn-custom-view,
    .btn-custom-delete {
        margin: auto;
        padding: 8px;
    }
}