{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center vh-100 white-text">
    <div class="col-lg-6 col-md-8 col-sm-10 background-custom-red">
        {% if user.is_authenticated %}
        <div class="col-md-10">
            <h1 class="mt-4">Book Your Session</h1>
            <form method="post"
                action="{% if pk %}{% url 'update-booking' pk %}{% else %}{% url 'booking-form %}{% endif %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-make-booking">Make Booking</button>
            </form>
        </div>
        {% else %}
        <div class="col-md-10 text-center">
            <p class="lead">You are not yet logged in!</p>
            <p>To login, please press the button below.</p>
            <a class="btn btn-primary btn-lg btn-make-booking" href="{% url 'account_login' %}">Login</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ form.media }}
{% endblock%}