{% extends "base.html" %}
{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center white-text my-booking-header">
    {% if user.is_authenticated %}
    <h1 class="text-center display-1">Delete Booking</h1>
    <div class="card container d-flex flex-column justify-content-center align-items-center white-text">
        <div class="card-body text-center background-custom-red custom-margin card-custom-size">
            <h5 class="card-title">Are you sure you want to delete this booking?</h5>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-lg btn-custom-delete">Delete Booking</button>
            </form>
        </div>
    </div>
    <a class="btn btn-primary btn-lg btn-custom-back" href="{% url 'my-bookings' %}">Cancel</a>
    {% else %}
    <div class="col-md-10 text-center">
        <p class="lead">You are not yet logged in!</p>
        <p>To login, please press the button below.</p>
        <a class="btn btn-primary btn-lg btn-make-booking" href="{% url 'account_login' %}">Login</a>
    </div>
    {% endif %}
</div>

{% endblock %}