{% extends "base.html" %}

{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center vh-100 white-text">
    <h1 class="display-1">Contractor Crew</h1>
    <p class="lead">We Plan & Build for Your Future!</p>
    <br>
    <p>Book a session and see what we can do for you</p>
    {% if user.is_authenticated %}
    <a class="btn btn-primary btn-lg btn-book-session" href="{% url 'booking-form' %}">Book a Session</a>
    {% else %}
    <a class="btn btn-primary btn-lg btn-book-session" href="{% url 'login' %}">Book a Session</a>
    {% endif %}
</div>

{% endblock %}