{% extends "base.html" %}
{% block content %}
<!-- Renders the specific booking the user want to view -->
<div class="container d-flex flex-column justify-content-center align-items-center white-text my-booking-header">
    {% if user.is_authenticated %}
    <h1 class="text-center display-1">My Booked Session</h1>
    <p class="lead text-center view-booking-custom-p">Here you can see all information about your booked session
        regarding the project
        "{{ booking.project_type }}". Click any of the buttons below depending on what you want to do.</p>
    <div class="card container d-flex flex-column justify-content-center align-items-center white-text">
        <div class="card-body text-center background-custom-red custom-margin card-custom-size">
            <p class="card-text">First Name: {{ booking.first_name }}</p>
            <p class="card-text">Last Name: {{ booking.last_name }}</p>
            <p class="card-text">Email: {{ booking.email }}</p>
            <p class="card-text">Date: {{ booking.date }}</p>
            <p class="card-text">Time: {{ booking.time }}</p>
            <p class="card-text">Project Type: {{ booking.project_type }}</p>
            <p class="card-text">Project Details: {{ booking.project_details }}</p>
            <div class="d-flex justify-content-between">
                <!-- Buttons to either update or delete booking  -->
                <a class="btn btn-primary btn-lg btn-custom-view"
                    href="{% url 'update-booking' booking.pk %}">Update</a>
                <a class="btn btn-danger btn-lg btn-custom-delete"
                    href="{% url 'delete-booking' booking.pk %}">Delete</a>
            </div>
        </div>
    </div>
    <!-- Button to go back to the users bookings -->
    <a class="btn btn-primary btn-lg btn-custom-back" href="{% url 'my-bookings' %}">Back</a>
    {% else %}
    <div class="col-md-10 text-center">
        <p class="lead">You are not yet logged in!</p>
        <p>To login, please press the button below.</p>
        <a class="btn btn-primary btn-lg btn-make-booking" href="{% url 'account_login' %}">Login</a>
    </div>
    {% endif %}
</div>

{% endblock %}